.theme-navbar{
    background-color: rgb(235, 136, 7);
}
.theme-footer{
     background-color: rgb(235, 136, 7);

}
.theme-navbar-light{
    background-color: rgb(11, 225, 153);
}
.theme-product img:hover{
    transform: scaleX(-1);

}